@import url('https://fonts.googleapis.com/css?family=Srisakdi');

body, input, select, textarea {
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 16.5pt;
  font-weight: 300;
  line-height: 1.65;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
  body {
		background-color: #2e3141;
		background-image: linear-gradient(to top, rgba(255, 175, 95, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/fundo 1.jpg");
		background-size: auto, cover;
		background-attachment: fixed, fixed;
		background-position: center, center;
	}

  @media screen and (max-width: 1280px) {

    #banner {
      padding: 7em 0 8.25em 0 ;
      background-color: #2e3141;
      background-image: linear-gradient(to top, rgba(255, 175, 95, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/fundo 1.jpg");
      background-size: auto, cover;
      background-position: center, center;
      margin-bottom: -6.5em;
    }

    .wrapper.spotlight {
      background-color: #420000;
      }
