	body {
  background-color: #ffc575;
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
		-webkit-appearance: none;
		display: inline-block;
		background-color: #222222;
		color: #ffffff;
		border: 0;
		cursor: pointer;
		outline: 0;
		padding: 0.7em 1.5em 0.7em 1.5em;
	}

  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:hover,
  .button:hover {
    background-color: #333333;
  }

  input[type="button"]:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  button:active,
  .button:active {
    background-color: #444444;
  }

  input[type="button"].alt,
  input[type="submit"].alt,
  input[type="reset"].alt,
  button.alt,
  .button.alt {
    background-color: #777777;
  }

  input[type="button"].alt:hover,
  input[type="submit"].alt:hover,
  input[type="reset"].alt:hover,
  button.alt:hover,
  .button.alt:hover {
    background-color: #888888;
  }

  input[type="button"].alt:active,
  input[type="submit"].alt:active,
  input[type="reset"].alt:active,
  button.alt:active,
  .button.alt:active {
    background-color: #999999;
  }

  #nav a span {
    display: block;
    position: absolute;
    background: #222222;
    color: #ffffff;
    top: -2.75em;
    font-size: 0.3em;
    height: 2.25em;
    line-height: 2.25em;
    left: 50%;
    opacity: 0;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    width: 5.5em;
    margin-left: -2.75em;
  }

  #nav a span:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.4em;
    left: 50%;
    margin-left: -0.6em;
    border-top: solid 0.6em #222222;
    border-left: solid 0.6em transparent;
    border-right: solid 0.6em transparent;
  }

  #main {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
    -webkit-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
    -ms-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
    transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }

/* imagem do perfil */
  #main > .panel.intro .pic:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url("images/overlay.png");
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #main > .panel.intro .pic .arrow {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1.375em;
    width: 2.75em;
    height: 2.75em;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    text-align: center;
    line-height: 2.75em;
    font-size: 1.5em;
    z-index: 1;
    -moz-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    -webkit-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    -ms-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    transition: width .15s ease-in-out, padding-right .15s ease-in-out;
  }
