@import url('https://fonts.googleapis.com/css?family=Srisakdi');

body, input, select, textarea {
  color: #ffffff;
  font-family: 'Srisakdi', cursive;
  font-size: 16.5pt;
  font-weight: 300;
  line-height: 1.65;
}
